@media(min-width: 850px) {
  .content {
    height: 28rem;
    width: 52rem;
  }
}
@media(max-width: 850px) {
  .content {
    height: 100%;
    width: 90vw;
  }
}
.content {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #151510;
  border-radius: 20px;
  color: #d2cad3;
  box-shadow: 20px 20px 32px 2px rgba(0, 0, 0, 0.5);
}

.social-links {
  margin-top: 1.7rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.ring-content {
  transform: translateY(37vh);
  height: 2rem;

  padding: 0.5rem 1rem;
  gap: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #151510;
  border-radius: 10px;
  color: #d2cad3;
  box-shadow: 20px 20px 32px 2px rgba(0, 0, 0, 0.5);
}
.ring-link {
  text-decoration: none;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.ring-prev {
  background-image: linear-gradient(to top right, #d8272a, #ff7458);
}
.ring-next {
  background-image: linear-gradient(to bottom right, #006fc1, #6691d2);
}
