<div class="centered on-top-header">
  <div class="header">
    <a class="clean-a" href="/">
      <b>Home</b>
    </a>
    -
    <a class="clean-a" href="/blog.html">
      <b>Blog</b>
    </a>
    -
    <a class="clean-a" href="/projects.html">
      <b>Projects</b>
    </a>
  </div>
</div>

<script>
  const transitionEvent = new Event("transition");

  // for each link in the header, prevent the default event and instead broadcast a transition event
  document.querySelectorAll(".header a").forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      document.dispatchEvent(transitionEvent);
      setTimeout(() => {
        window.location.href = link.href;
      }, 1000);
    });
  });

  // find out which page we're on
  const page = window.location.pathname.split("/").pop().split(".")[0];
  // select the corresponding header link
  const selectedHeader = document.querySelector(`.header a[href="/${page}.html"]`);
  if (selectedHeader) {
    // add a class to the selected header link
    selectedHeader.classList.add("selected-header");
  } else {
    // if we're on the home page, select the home link
    document.querySelector(`.header a[href="/"]`).classList.add("selected-header");
  }
</script>

<style>
  .on-top-header {
    z-index: 0;
  }

  .header {
    transform: translateY(-42vh);
    height: 3rem;
    width: 70vw;

    padding: 0.5rem 1rem;
    gap: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #151510;
    border-radius: 10px;
    color: #d2cad3;
    box-shadow: 20px 20px 32px 2px rgba(0, 0, 0, 0.5);
  }

  .selected-header {
    text-decoration-color: #33b3f4;
  }
</style>
