<div class="centered">
  <div class="header">
    <a class="clean-a" href="/">
      <b>Home</b>
    </a>
    -
    <a class="clean-a" href="/blog.html">
      <b>Blog</b>
    </a>
    -
    <a class="clean-a" href="/projects.html">
      <b>Projects</b>
    </a>
  </div>
</div>

<style>
  .header {
    transform: translateY(-42vh);
    height: 3rem;
    width: 70vw;

    padding: 0.5rem 1rem;
    gap: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #151510;
    border-radius: 10px;
    color: #d2cad3;
    box-shadow: 20px 20px 32px 2px rgba(0, 0, 0, 0.5);
  }
</style>
